body{
	background-color: #25282f;
	position: relative;
	height: 100%;
}
html{
	height: 100%;

}
/*difinição padrão de cores pada fontes	*/
h1, h2, h3, h4, h5, h6, p, a, span{color: #fff;}
a, span{display: inline-block;}

/*definição para o separator padrão*/
.separator{
	width: 60%;
	display: inline-block;
}
.separator .line{
	width: 40%;
	height: 3px;
	background-color: #1e2025;
	display: inline-block;
}
.separator .cicle{
	width: 7px;
	height: 7px;
	margin: 0 10px;
	background-color: #1e2025;
	display: inline-block;
	border-radius: 2em;
}

.active_display{
	-webkit-transform: translate(0, 0)!important;
}

.close_display{
	-webkit-transform: translate(-100%, 0)!important;
}
#app_canvas{
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #25282f;
	box-shadow:0px 0px 6px 3px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s linear;
	-webkit-transform: translate(0, 0px)!important;
	z-index: 2;
}

/*definição para barra de carregamento*/
.progressBar{
	width: 100%;
	position: absolute;
	z-index: 2;
}
.progressBar .progress{
	width: 11.11%;
	height: 12px;
	float: left;
	-webkit-animation-name: carregamento_de_pagina;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: both;
}
/*.progressBar .progress:last-child{clear: left;}*/

/*definição de cores */
.progressBar .progress_red{
	background-color: #d2232a; 
}
.progressBar .progress_orange{
	background-color: #f26522; 
	-webkit-animation-delay: 0.5s;
}
.progressBar .progress_yellow{
	background-color: #ffa503; 
	-webkit-animation-delay: 1s;
}
.progressBar .progress_light_green{
	background-color: #98cf18; 
	-webkit-animation-delay: 1.5s;
}
.progressBar .progress_medium_green{
	background-color: #437b1d; 
	-webkit-animation-delay: 2s;
}
.progressBar .progress_strong_green{
	background-color: #1c5454; 
	-webkit-animation-delay: 2.5s;
}
.progressBar .progress_light_blue{
	background-color: #51a3cb; 
	-webkit-animation-delay: 3s;
}
.progressBar .progress_medium_blue{
	background-color: #2953a3;
	-webkit-animation-delay: 3.5s;
}
.progressBar .progress_strong_blue{
	background-color: #0f2773; 
	-webkit-animation-delay: 4s;
}