body{
	background-size: 120%;
	text-align: center;
	background: #D13030;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjU0NjQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I3MjkyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #f54646 0%, #b72929 100%) fixed;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f54646), color-stop(100%,#b72929)) fixed;
	background: -webkit-linear-gradient(-45deg,  #f54646 0%,#b72929 100%) fixed;
	background: -o-linear-gradient(-45deg,  #f54646 0%,#b72929 100%) fixed;
	background: -ms-linear-gradient(-45deg,  #f54646 0%,#b72929 100%) fixed;
	background: linear-gradient(135deg,  #f54646 0%,#b72929 100%) fixed;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f54646', endColorstr='#b72929',GradientType=1 );
}
/*formatação topo*/
#top-home{
	width: 810px;
	display: inline-block;
	text-align: left;
	padding-top: 78px;
	text-transform: uppercase;
	text-align: center;
}
#top-home h1{
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
/*formatação saudação*/
#top-home .saudation{
	color: #252525;
	font-size: 54px;
    font-family: 'RockwellStdLightItalic';
	letter-spacing: 7px;
    font-weight: 100;
	-webkit-animation:apresentacaoSaudacao 2s ease-in-out;
	-o-animation:apresentacaoSaudacao 2s ease-in-out;
	-moz-animation:apresentacaoSaudacao 2s ease-in-out;
	-ms-animation:apresentacaoSaudacao 2s ease-in-out;
	animation:apresentacaoSaudacao 2s ease-in-out;
}
/*formatação rodolfo dias*/
#top-home .my-name{
	font-size: 122px;
	color: #fff;
    font-family: 'RockwellStdItalic';
    font-weight: 100;
    margin: 28px 0 0 44px;
	letter-spacing: 5px;
	line-height: 98px;
	-webkit-animation: apresentacaoNome 3s ease-in-out;
	-o-animation: apresentacaoNome 3s ease-in-out;
	-mos-animation: apresentacaoNome 3s ease-in-out;
	-ms-animation: apresentacaoNome 3s ease-in-out;
	animation: apresentacaoNome 3s ease-in-out;
}
#top-home .my-name .bold{
    font-family: 'RockwellStdBoldItalic';
    display: block;
}
/*formatação cargo*/
#top-home .job{
    font-family: 'RockwellStdLightItalic';
	color: #fff;
	font-size: 61px;
    font-weight: 100;
    margin-left: 110px;
    position: relative;
	-webkit-animation: apresentacaoCargo 3s ease-in-out;
	-o-animation: apresentacaoCargo 3s ease-in-out;
	-moz-animation: apresentacaoCargo 3s ease-in-out;
	-ms-animation: apresentacaoCargo 3s ease-in-out;
	animation: apresentacaoCargo 3s ease-in-out;
}
/*formatação navegação*/
#nav-home{
	width: 590px;
	display: inline-block;
	text-align: left;
	margin-top: 40px;
	position: relative;
	-webkit-animation: apresentacaoSaudacao 4s ease-in-out;
	-o-animation: apresentacaoSaudacao 4s ease-in-out;
	-moz-animation: apresentacaoSaudacao 4s ease-in-out;
	-ms-animation: apresentacaoSaudacao 4s ease-in-out;
	animation: apresentacaoSaudacao 4s ease-in-out;
}
#nav-home a{
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
#nav-home .label{
    font-family: 'RockwellStdRegular';
	font-size: 18px;
	padding-left: 10px;
	text-transform: none;
}
#nav-home .icon{
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
/*formatação navegação principal*/
.prime-nav li{
	margin-right: 25px;
	display: inline-block;
}
.prime-nav li:last-child{
	margin: 0;
}
.prime-nav a:hover .icon{
	color: #000!important;
}
/*formatação navegação secundária*/
.seconde-nav{
	margin-top: 35px;
}
.seconde-nav li{
	margin-bottom: 15px;
}
.col-1, .col-2{
	display: inline-block;
}
.col-2{
	margin-left: 75px;
}
.seconde-nav .icon{
	width: 30px;
	height: 24px;
	background: #fff;
	text-align: center;
	border-radius: 2em;
	padding-top: 6px;
	color: #f54646;
}
.seconde-nav a:hover .icon{
	box-shadow: inset 0px 0px 0px 15px rgba(0, 0, 0, 0.9);
	color: #fff;
}